<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime targetFramework="4.0" />
    <authentication mode="None" />
    <sessionState mode="InProc" cookieless="false" timeout="20" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Pages/Upload.aspx" />
      </files>
    </defaultDocument>
    <handlers>
      <add name="ChunkUploadHandler" path="Handlers/ChunkUploadHandler.ashx" verb="*" type="WrapperWebForms.Handlers.ChunkUploadHandler, WrapperWebForms" resourceType="Unspecified" />
    </handlers>
    <staticContent>
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
    </staticContent>
  </system.webServer>
</configuration>
